In [ ]:
Introduction to List datatypes
Definition
-->Ordered collection of iitems in the list
-->mutable datatype(flexuble)
-->defined by square brackets[]

In [1]:
students=['Gnana','Dinesh','Gokul','Sudha','Rahu'] #0,1,2,3,4---Gnana-0,Dinesh--1 ....
##identify datatype
type(students)

list

students=['Gnana','Dinesh','Gokul','Sudha','Rahu'] 

#how to retrive or access elements from the list
#i want to access gokul name from the list


print(students[2])

In [2]:
students=['Gnana','Dinesh','Gokul','Sudha','Rahu'] 
print(students[2])

Gokul

In [3]:
print(student[1])

NameError: name 'student' is not defined

In [4]:
print(students[1])

Dinesh

In [ ]:
3 concepts in List
1)Reassignment
2)add
3)removing
elemnts form the list

In [5]:
##reassigning the elements
print(students)

['Gnana', 'Dinesh', 'Gokul', 'Sudha', 'Rahu']

In [6]:
#Req:Replace Rahu with Guhan
students[4]='Guhan'
print(students)

['Gnana', 'Dinesh', 'Gokul', 'Sudha', 'Guhan']

In [8]:
##Req:Adding new elemnt to the list
students.append('Mithran')##Append will add the elements/item last to the index by default
print(students)

['Gnana', 'Dinesh', 'Gokul', 'Sudha', 'Guhan', 'Mithran']

In [9]:
students.append('sai')
c

['Gnana', 'Dinesh', 'Gokul', 'Sudha', 'Guhan', 'Mithran', 'sai']

In [10]:
print(students.title())

AttributeError: 'list' object has no attribute 'title'

In [11]:
print(students[6].title())

Sai

In [12]:
##Req--Insert lakshmi to the 2nd index positioning
students.insert(3,'Lakshmi')
Print(students)

NameError: name 'Print' is not defined

In [13]:
print(students)##python case sensitive

['Gnana', 'Dinesh', 'Gokul', 'Lakshmi', 'Sudha', 'Guhan', 'Mithran', 'sai']

In [14]:
##Removing elements from the list

#Del Sai from the list

#Scenerio 1:permanent delete

del students[7]
print(students)

['Gnana', 'Dinesh', 'Gokul', 'Lakshmi', 'Sudha', 'Guhan', 'Mithran']

In [ ]:
Scenerio 2:Temporary del -->use of pop method
    
    1)deleting the items in the last index in the list  by default temporarily
    2)keep carbon copy to a variable assigned
    3)customize the deletion of items by index number in pop mehodt

In [15]:
x=students.pop()
print(x)  ##----carboon copy of deletion stored in x variable

Mithran

In [16]:
print(students) ##After deleting the last index item from list using pop() method

['Gnana', 'Dinesh', 'Gokul', 'Lakshmi', 'Sudha', 'Guhan']

In [17]:
##Remove the customised index position items from list

y=students.pop(5)
print(y)

Guhan

In [18]:
print(students)

['Gnana', 'Dinesh', 'Gokul', 'Lakshmi', 'Sudha']